doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Pomodoro Timer
    link(rel='stylesheet', href='style.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')
    script(src="script.js")

  body
    #container
      // container for the timer
      #clock.work
        //dispaly time here
        #timer
      #session_info
        #session_type
          div Work
        #session_count
          div 
      #settings
        #timer_work
          h6 Work time
          // js display here the work time
          p#work_time__display
          button.minus -
          button.plus +
        #timer_break
          h6 Break time
          // js display here the break time
          p#break_time__display
          button.minus -
          button.plus + 
      #buttons
        button#button_start 
        button#button_reset Reset
    