doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Pomodoro Timer
    link(rel='stylesheet', href='style.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')
    script(src="script.js")

  body
    #container
      // container for the timer
      #clock
        //dispaly time here
        #timer 
      #session-info
        #session-type
          div Work
        #session-count
          div Session 1
      #settings
        #timer-work
          h6 Work time
          p#work_time__display
          button.minus -
          button.plus +
        #timer-break
          h6 Break time
          p#break_time__display
          button.minus -
          button.plus + 
    