<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Calculator
    link(rel="stylesheet", href="style.css")
    script(src="script.js")
  body
    #calculator
      #display Hello
      #button_container
        button#clear Clear
        button#delete Delete
        button /
        button *
        button 7
        button 8
        button 9
        button -
        button 4
        button 5
        button 6
        button +
        button 1
        button 2
        button 3
        button#equal =
        button %
        button 0
        button .
